.educationPanel{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    border: 1px solid white;
    border-radius: 10px;
    padding: 25px;
    gap: 10px;
}

.educationPanel.expanded > :last-child {
    align-self: center;
}

.addItemBtn  {
    border: 1px solid black;
    border-radius: 10px;
    height: 35px;
    width: 200px;
    font-size: 1em;
}

.addItemBtn:hover {
    filter: brightness(1.1);
}

.addItemBtn:active {
    transform: scale(0.95);
}

.panelHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}