.educationPanel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid white;
    border-radius: 10px;
    padding: 25px;
    gap: 10px;
}

.addEducation {
    border: none;
    height: 30px;
    font-size: 1em;
    background-color: rgb(40, 192, 192);
}

.addEducation:hover {
    filter: brightness(1.1);
}

.addEducation:active {
    transform: scale(0.95);
}